In [1]:
import numpy as np
import pandas as pd

In [2]:
import prepostprocessing.cleaning as cleaning
import prepostprocessing.pre_processing as preproc
from qapf import qapf
from qapf import cipw

___

# CIPWFULL normalized data

## Convert to CIPWFULL format

**I used an arbitrary version of the mineralogical data, not sure if this is the correct one** -->is a good one

In [3]:
mineralogy_original = pd.read_excel("../_CIPW/CIPW/AREA1_Tr_J/interpolated_data.xlsx", index_col=0)
# Only iterested in sample number and oxides
mineralogy = mineralogy_original[['SiO2', 'TiO2', 'Al2O3', 'Fe2O3','FeO', 'MnO', 'MgO', 'CaO', 'Na2O', 'K2O', 'oth']]
mineralogy.columns

Index(['SiO2', 'TiO2', 'Al2O3', 'Fe2O3', 'FeO', 'MnO', 'MgO', 'CaO', 'Na2O',
       'K2O', 'oth'],
      dtype='object')

In [4]:
mineralogy = mineralogy.dropna()

In [5]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [6]:
# Remove 'l.i.'' and 'oth' columns and immediately normalize data
mineralogy = preproc.normalize(mineralogy.drop(["oth"], axis=1))

In [7]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [8]:
mineralogy.head()

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
19846,70.441084,0.371688,14.930385,0.895400,1.830435,0.057119,0.866247,1.743451,4.468076,4.396114
19847,70.445469,0.371500,14.929297,0.895397,1.829782,0.057101,0.865378,1.741588,4.468006,4.396482
19848,70.450608,0.371279,14.928022,0.895394,1.829017,0.057079,0.864360,1.739406,4.467923,4.396912
19849,70.456460,0.371028,14.926567,0.895390,1.828146,0.057054,0.863201,1.736923,4.467828,4.397403
20334,69.486228,0.412294,15.144012,0.895242,1.968498,0.061023,1.064592,2.171610,4.478991,4.317511

In [9]:
mineralogy

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
19846,70.441084,0.371688,14.930385,0.895400,1.830435,0.057119,0.866247,1.743451,4.468076,4.396114
19847,70.445469,0.371500,14.929297,0.895397,1.829782,0.057101,0.865378,1.741588,4.468006,4.396482
19848,70.450608,0.371279,14.928022,0.895394,1.829017,0.057079,0.864360,1.739406,4.467923,4.396912
19849,70.456460,0.371028,14.926567,0.895390,1.828146,0.057054,0.863201,1.736923,4.467828,4.397403
20334,69.486228,0.412294,15.144012,0.895242,1.968498,0.061023,1.064592,2.171610,4.478991,4.317511
...,...,...,...,...,...,...,...,...,...,...
208816,73.434814,0.242304,13.923243,0.884466,1.350652,0.043278,0.374717,0.714728,4.367559,4.664239
208817,73.450299,0.241647,13.916517,0.884356,1.348033,0.043201,0.372749,0.710736,4.366730,4.665733
208818,73.464622,0.241041,13.910280,0.884253,1.345609,0.043130,0.370934,0.707055,4.365959,4.667117
208819,73.477805,0.240482,13.904527,0.884158,1.343378,0.043065,0.369268,0.703679,4.365247,4.668391
208820,73.489866,0.239972,13.899253,0.884071,1.341336,0.043005,0.367748,0.700599,4.364593,4.669558

In [10]:
mineralogy1 = mineralogy.iloc[0:45000]
mineralogy2 = mineralogy.iloc[45001:90000]

def convert_to_CIPWFULL_format(df, path, dataset_name="Dataset", index_prefix=None, rock_type="P", 
                               rock_suite_column=None, normalization=False):
    """Converts a pandas DataFrame to a txt file compatible 
    as an input file for the CIPWFULL program by AL-Mishwat (2015)
    
    Parameters:
    -----------
    df : pd.DataFrame
        mineralogy data in the form of oxides
    path : str
        path to where to save resulting file
    dataset_name : str (optional)
        Name opf dataset to use in CIPWFULL
        defaults to 'Dataset'
    index_prefix : str (optional)
        Prefix to use before index
        defaults to None
    rock_type : str (optional)
        Rock type indicator:
            'P' for plutonic
            'V' for volcanic
        defaults to 'P'
    rock_suite_column : str (optional)
        Which column name to use a 'rock suite' in CIPWFULL
        The rock suite acts as a grouping variable
        defaults to None
    normalization : bool (optional)
        Write flag to file whether to let CIPWFULL 
        normalize the data before norm calculation
        defaults to False
        
    Returns:
    --------
    df_CIPW : pd.DataFrame
        altered mineralogy data according to CIPWFULL input format
    
    (file is written to disk)
    
    """
    
    # Get copy of original df so that it doesn't get altered
    df_CIPW = df.copy()
    
    # Add prefix to index if required
    if index_prefix:
        df_CIPW.index = f"{index_prefix}" + df_CIPW.index.astype(str)
        
    # Add additional columns to be moved to index
    df_CIPW["Type"] = "P"
    df_CIPW["Cancrinite"] = 0
    if rock_suite_column:
        df_CIPW["Rock suite"] = df_CIPW[rock_suite_column]
        df_CIPW.drop(rock_suite_column, axis=1)
    else:
        df_CIPW["Rock suite"] = 1 # This could be changed to a grouping variable such as geographic area, time
        
    # Move additional columns to index
    df_CIPW = df_CIPW.set_index(["Type", "Cancrinite", "Rock suite"], append=True)
    
    # Start writing file (file saving/closing is handled automatically)
    with open(path, 'w') as f:

        # Write a '1' before the dataset name if you want CIPWFULL 
        # to normalize the data before the calculation; else write space
        if normalization:
            f.write("1")
        else:
            f.write(" ")

        # Write dataset name
        f.write(f"{dataset_name}\n")

        # Write column names and index+data
        # The floating point number need to be formatted so as not 
        # to go over the 120 character line limit of CIPWFULL
        df_CIPW.to_csv(f, mode='w', sep=" ", line_terminator="\n", 
                       index_label=False, float_format="%2.5f")

        # Write '0' to indicate end of data entries
        f.write("0")

        # Write rock suite names if needed
        if rock_suite_column:
            f.write("\n")
            f.write(rock_suite_column.unique())
            f.write("\n")

In [11]:
cipw.convert_to_CIPWFULL_format(mineralogy1, "../_CIPW/CIPW/AREA1_Tr_J/area1_Tr_J_1.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy2, "../_CIPW/CIPW/AREA1_Tr_J/area1_Tr_J_2.txt", dataset_name="Vistelius (1995)")

_____

## Extract results from CIPWFULL results file

**I only selected quartz, plagioclase and alkali feldspar here as they are of interest to us for the QAPF classification**  
**Feel free to extract addiotnal minerals if they would be of any interest to you**

**Not sure what to do with albite in the final assignments as by the book it should be accounted for as an alkali feldspar and thus be included in the sum of plagioclase but then the resulting plagioclase contents seem quite low.   
This is something you might look into although the method used here seems to be correct according to te resulting QAPF diagram.**

--> indeed when reading the paper of Streckeisen (and other sources), albite should be accounted for as an alkali feldspar, also saw that the datapoints were generally located more to the right side (plagioclase), maybe an overestimation of plagioclase?

--> I changed the settings below so that albite belongs to the alkali feldspars, Think this figure should be more correct according to the papers, but the cotent of plagioclase is indeed quite low.

def extract_CIPW_results(path, columns_of_interest=['  QZ', '  OR', '  AB', '  AN'], 
                         print_columns=False):
    """Extract the results from CIPWFULL run
    
    Parameters:
    -----------
    path : str
        Path to results file
    columns_of_interest : list (optional)
        List of minerals to select in results file
        defaults to Q, A, P minerals
    print_columns : bool (optional)
        Print original df's column names
        defaults to False
        
    Returns:
    --------
    df_final : pd.DataFrame
        Minerals of interest in tabular format
    """
    
    df = pd.read_csv(path, sep="\t", index_col=0)
    
    if print_columns:
        print(df.colums)
    
    # Drop last row which states the column names again
    df = df.iloc[:-1, :]
    
    # Quary columns in which we're interested
    columns_of_interest = ['  QZ', '  OR', '  AB', '  AN']
    df_query = df.loc[:, columns_of_interest]
    
    # Convert values to floats
    df_query = df_query.astype(float)
    
    # Create new dataframe to hold final data
    df_final = pd.DataFrame()

    df_final["Q"] = df_query["  QZ"]
    df_final["P"] = df_query["  AB"] + df_query["  AN"]
    df_final["K"] = df_query["  OR"]
    
    return df_final

In [14]:
df_final1 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA1_Tr_J/area1_Tr_J_1_results_excel.txt")
df_final2 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA1_Tr_J/area1_Tr_J_2_results_excel.txt")

In [15]:
df_final = pd.concat([df_final1, df_final2])

In [16]:
df_final

                   Q          P          K
 SAMPLE
19846      21.839468  41.724163  29.757681
19847      21.847382  41.719882  29.759805
19848      21.856672  41.714834  29.762271
19849      21.867210  41.709151  29.765091
20334      20.113865  42.573269  29.302453
...              ...        ...        ...
 208816    27.435339  36.804602  31.257043
 208817    27.463169  36.778487  31.265145
 208818    27.488833  36.754368  31.272709
 208819    27.512484  36.732197  31.279610
 208820    27.534100  36.711891  31.285967

[50444 rows x 3 columns]

## QAPF classification

In [17]:
df_final["QAPF"] = qapf.check_QAPF_region(df_final)

In [18]:
df_final["QAPF"].unique()

array(['monzo granite', 'quartz monzonite'], dtype=object)

import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter_ternary(df_final, a="Q", b="K", c="P", color="QAPF")

fig.write_image(f"../_FIGURES/geomap/qapf_ternary/area1_QAPF.pdf")
fig.show()

In [19]:
df_final.to_excel("../_CIPW/CIPW/AREA1_Tr_J/qapf.xlsx", index=True)

-------

In [20]:
df_final.iloc[:, 3].value_counts().to_excel("../_CIPW/CIPW/AREA1_Tr_J/QAPF_counts.xlsx")

-----

In [21]:
QAPF_control = pd.read_excel("../_CIPW/CIPW/1_normalized.xlsx", index_col=0)
Area = pd.read_excel("../_INTERPOLATION/area1_Tr_J.xlsx", index_col=0, usecols = [0, 1, 2, 3, 4, 29])

In [22]:
QAPF_control = pd.concat([Area, QAPF_control], axis = 1)
QAPF_control = QAPF_control.dropna()
QAPF_control
QAPF_control.to_excel("../_CIPW/CIPW/AREA1_Tr_J/QAPF_control_points.xlsx", index=True)

QAPF_control_area1 = QAPF_control[QAPF_control['area'] ==1]
QAPF_control_area1.to_excel("../_CIPW/CIPW/AREA1/QAPF_control_points.xlsx", index=True)