In [1]:
import numpy as np
import pandas as pd

In [2]:
import prepostprocessing.cleaning as cleaning
import prepostprocessing.pre_processing as preproc
from qapf import qapf
from qapf import cipw

___

# CIPWFULL normalized data

## Convert to CIPWFULL format

**I used an arbitrary version of the mineralogical data, not sure if this is the correct one** -->is a good one

In [3]:
mineralogy_original = pd.read_excel("../_CIPW/CIPW/AREA3/interpolated_data.xlsx", index_col=0)
# Only iterested in sample number and oxides
mineralogy = mineralogy_original[['SiO2', 'TiO2', 'Al2O3', 'Fe2O3','FeO', 'MnO', 'MgO', 'CaO', 'Na2O', 'K2O', 'oth']]
mineralogy.columns

Index(['SiO2', 'TiO2', 'Al2O3', 'Fe2O3', 'FeO', 'MnO', 'MgO', 'CaO', 'Na2O',
       'K2O', 'oth'],
      dtype='object')

In [4]:
mineralogy = mineralogy.dropna()

In [5]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [6]:
# Remove 'l.i.'' and 'oth' columns and immediately normalize data
mineralogy = preproc.normalize(mineralogy.drop(["oth"], axis=1))

In [7]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [8]:
mineralogy.head()

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
24087,69.555248,0.388478,15.625328,2.118693,2.146363,0.064414,1.013655,2.286772,3.436158,3.364891
24088,69.532557,0.389610,15.630267,2.122524,2.150799,0.064516,1.018043,2.294249,3.435566,3.361870
24089,69.510042,0.390740,15.635191,2.126153,2.155252,0.064616,1.022427,2.301720,3.434977,3.358883
24698,69.578794,0.387148,15.618843,2.119991,2.140145,0.064307,1.008491,2.277646,3.436761,3.367875
24699,69.553066,0.388437,15.624515,2.124152,2.145232,0.064422,1.013476,2.286162,3.436091,3.364448

In [9]:
mineralogy

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
24087,69.555248,0.388478,15.625328,2.118693,2.146363,0.064414,1.013655,2.286772,3.436158,3.364891
24088,69.532557,0.389610,15.630267,2.122524,2.150799,0.064516,1.018043,2.294249,3.435566,3.361870
24089,69.510042,0.390740,15.635191,2.126153,2.155252,0.064616,1.022427,2.301720,3.434977,3.358883
24698,69.578794,0.387148,15.618843,2.119991,2.140145,0.064307,1.008491,2.277646,3.436761,3.367875
24699,69.553066,0.388437,15.624515,2.124152,2.145232,0.064422,1.013476,2.286162,3.436091,3.364448
...,...,...,...,...,...,...,...,...,...,...
360180,65.953193,0.611505,16.417915,1.081635,3.466192,0.076426,2.016661,4.018535,3.319390,3.038547
360784,66.554690,0.577846,16.353265,1.039421,3.335222,0.074173,1.852082,3.771385,3.339115,3.102800
360785,66.539618,0.578685,16.354981,1.040940,3.338275,0.074233,1.856108,3.777423,3.338636,3.101102
360786,66.686858,0.570361,16.336101,1.056596,3.291673,0.073806,1.815546,3.711243,3.343826,3.113990
360787,66.674117,0.571067,16.337587,1.058052,3.294175,0.073857,1.818908,3.716284,3.343426,3.112526

In [11]:
mineralogy1 = mineralogy.iloc[0:45000]
mineralogy2 = mineralogy.iloc[45000:90000]
mineralogy3 = mineralogy.iloc[90000:135000]

def convert_to_CIPWFULL_format(df, path, dataset_name="Dataset", index_prefix=None, rock_type="P", 
                               rock_suite_column=None, normalization=False):
    """Converts a pandas DataFrame to a txt file compatible 
    as an input file for the CIPWFULL program by AL-Mishwat (2015)
    
    Parameters:
    -----------
    df : pd.DataFrame
        mineralogy data in the form of oxides
    path : str
        path to where to save resulting file
    dataset_name : str (optional)
        Name opf dataset to use in CIPWFULL
        defaults to 'Dataset'
    index_prefix : str (optional)
        Prefix to use before index
        defaults to None
    rock_type : str (optional)
        Rock type indicator:
            'P' for plutonic
            'V' for volcanic
        defaults to 'P'
    rock_suite_column : str (optional)
        Which column name to use a 'rock suite' in CIPWFULL
        The rock suite acts as a grouping variable
        defaults to None
    normalization : bool (optional)
        Write flag to file whether to let CIPWFULL 
        normalize the data before norm calculation
        defaults to False
        
    Returns:
    --------
    df_CIPW : pd.DataFrame
        altered mineralogy data according to CIPWFULL input format
    
    (file is written to disk)
    
    """
    
    # Get copy of original df so that it doesn't get altered
    df_CIPW = df.copy()
    
    # Add prefix to index if required
    if index_prefix:
        df_CIPW.index = f"{index_prefix}" + df_CIPW.index.astype(str)
        
    # Add additional columns to be moved to index
    df_CIPW["Type"] = "P"
    df_CIPW["Cancrinite"] = 0
    if rock_suite_column:
        df_CIPW["Rock suite"] = df_CIPW[rock_suite_column]
        df_CIPW.drop(rock_suite_column, axis=1)
    else:
        df_CIPW["Rock suite"] = 1 # This could be changed to a grouping variable such as geographic area, time
        
    # Move additional columns to index
    df_CIPW = df_CIPW.set_index(["Type", "Cancrinite", "Rock suite"], append=True)
    
    # Start writing file (file saving/closing is handled automatically)
    with open(path, 'w') as f:

        # Write a '1' before the dataset name if you want CIPWFULL 
        # to normalize the data before the calculation; else write space
        if normalization:
            f.write("1")
        else:
            f.write(" ")

        # Write dataset name
        f.write(f"{dataset_name}\n")

        # Write column names and index+data
        # The floating point number need to be formatted so as not 
        # to go over the 120 character line limit of CIPWFULL
        df_CIPW.to_csv(f, mode='w', sep=" ", line_terminator="\n", 
                       index_label=False, float_format="%2.5f")

        # Write '0' to indicate end of data entries
        f.write("0")

        # Write rock suite names if needed
        if rock_suite_column:
            f.write("\n")
            f.write(rock_suite_column.unique())
            f.write("\n")

In [12]:
cipw.convert_to_CIPWFULL_format(mineralogy1, "../_CIPW/CIPW/AREA3/area3_1.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy2, "../_CIPW/CIPW/AREA3/area3_2.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy3, "../_CIPW/CIPW/AREA3/area3_3.txt", dataset_name="Vistelius (1995)")

_____

## Extract results from CIPWFULL results file

**I only selected quartz, plagioclase and alkali feldspar here as they are of interest to us for the QAPF classification**  
**Feel free to extract addiotnal minerals if they would be of any interest to you**

**Not sure what to do with albite in the final assignments as by the book it should be accounted for as an alkali feldspar and thus be included in the sum of plagioclase but then the resulting plagioclase contents seem quite low.   
This is something you might look into although the method used here seems to be correct according to te resulting QAPF diagram.**

--> indeed when reading the paper of Streckeisen (and other sources), albite should be accounted for as an alkali feldspar, also saw that the datapoints were generally located more to the right side (plagioclase), maybe an overestimation of plagioclase?

--> I changed the settings below so that albite belongs to the alkali feldspars, Think this figure should be more correct according to the papers, but the cotent of plagioclase is indeed quite low.

def extract_CIPW_results(path, columns_of_interest=['  QZ', '  OR', '  AB', '  AN'], 
                         print_columns=False):
    """Extract the results from CIPWFULL run
    
    Parameters:
    -----------
    path : str
        Path to results file
    columns_of_interest : list (optional)
        List of minerals to select in results file
        defaults to Q, A, P minerals
    print_columns : bool (optional)
        Print original df's column names
        defaults to False
        
    Returns:
    --------
    df_final : pd.DataFrame
        Minerals of interest in tabular format
    """
    
    df = pd.read_csv(path, sep="\t", index_col=0)
    
    if print_columns:
        print(df.colums)
    
    # Drop last row which states the column names again
    df = df.iloc[:-1, :]
    
    # Quary columns in which we're interested
    columns_of_interest = ['  QZ', '  OR', '  AB', '  AN']
    df_query = df.loc[:, columns_of_interest]
    
    # Convert values to floats
    df_query = df_query.astype(float)
    
    # Create new dataframe to hold final data
    df_final = pd.DataFrame()

    df_final["Q"] = df_query["  QZ"]
    df_final["P"] = df_query["  AB"] + df_query["  AN"]
    df_final["K"] = df_query["  OR"]
    
    return df_final

df_final.to_excel("../_CIPW/CIPW/AREA5/qapf.xlsx", index=True)

In [14]:
df_final1 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3/area3_1_results_excel.txt")
df_final2 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3/area3_2_results_excel.txt")
df_final3 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3/area3_3_results_excel.txt")

In [16]:
df_final = pd.concat([df_final1, df_final2, df_final3])

In [17]:
df_final

                   Q          P          K
 SAMPLE
24087      29.516720  37.510518  22.790947
24088      29.484957  37.543130  22.772602
24089      29.453165  37.575692  22.754435
24698      29.557388  37.469844  22.809065
24699      29.521168  37.506955  22.788288
...              ...        ...        ...
 360180    21.300478  45.212225  20.763760
 360784    22.386469  44.136415  21.160115
 360785    22.360367  44.162673  21.149665
 360786    22.669317  43.873889  21.230226
 360787    22.647625  43.895847  21.221259

[122714 rows x 3 columns]

## QAPF classification

In [18]:
df_final["QAPF"] = qapf.check_QAPF_region(df_final)

In [19]:
df_final["QAPF"].unique()

array(['monzo granite', 'granodiorite'], dtype=object)

import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter_ternary(df_final, a="Q", b="K", c="P", color="QAPF")

fig.write_image(f"../_FIGURES/geomap/qapf_ternary/area5_QAPF.pdf")
fig.show()

In [20]:
df_final.to_excel("../_CIPW/CIPW/AREA3/qapf.xlsx", index=True)

-------

In [22]:
df_final.iloc[:, 3].value_counts().to_excel("../_CIPW/CIPW/AREA3/QAPF_counts.xlsx")

-----

In [3]:
QAPF_control = pd.read_excel("../_CIPW/CIPW/1_normalized.xlsx", index_col=0)
Area = pd.read_excel("../_INTERPOLATION/area_subdivided.xlsx", index_col=[0], usecols = [0, 1, 2, 3, 4, 29])

In [6]:
Area

             Y_UTM         X_UTM  ZoneNumber ZoneLetter  area
2    -5.134927e+05  6.119173e+06          53          T     1
6    -9.966614e+05  5.836313e+06          53          T     1
9    -1.061190e+06  5.804252e+06          53          T     1
10   -9.953983e+05  5.877750e+06          53          T     1
11   -1.202844e+06  5.901332e+06          53          T     1
...            ...           ...         ...        ...   ...
4562  2.276617e+08 -4.667076e+08          53          T     5
4594  1.898774e+08 -4.145875e+08          53          T     5
4628  1.947005e+08 -4.390290e+08          53          T     5
4643  1.930846e+08 -4.358868e+08          53          T     5
4647  2.158054e+08 -4.657112e+08          53          T     5

[4253 rows x 5 columns]

In [24]:
QAPF_control = pd.concat([Area, QAPF_control], axis = 1)
QAPF_control = QAPF_control.dropna()
QAPF_control

,Y_UTM,X_UTM,ZoneNumber,ZoneLetter,area,Q,P,K,QAPF
1,7.880625e+05,4.936585e+06,53.0,V,2.0,52.526539,17.979983,22.933498,monzo granite
2,-5.134927e+05,6.119173e+06,53.0,V,1.0,45.821201,19.425633,32.374005,monzo granite
3,1.544245e+06,7.110278e+06,53.0,V,3.0,50.716606,6.475010,37.375668,syeno granite
4,1.083775e+06,6.877413e+06,53.0,V,3.0,41.397182,23.234657,27.592905,monzo granite
5,1.641085e+06,7.925964e+06,53.0,V,4.0,54.609970,18.013528,19.746868,monzo granite
...,...,...,...,...,...,...,...,...,...
4654,6.202597e+05,5.148324e+06,53.0,V,2.0,0.000000,52.913423,17.411244,monzodiorite monzogabbro
4655,1.756745e+06,7.702655e+06,53.0,V,4.0,0.000000,59.865509,15.514612,monzodiorite monzogabbro
4656,6.586139e+05,5.200781e+06,53.0,V,2.0,0.000000,52.355599,12.039131,monzodiorite monzogabbro
4658,1.177291e+06,6.811066e+06,53.0,V,3.0,0.000000,71.436466,10.147088,monzodiorite monzogabbro
4659,1.821911e+06,7.687781e+06,53.0,V,4.0,2.241269,59.889595,6.852647,monzodiorite monzogabbro

In [26]:
QAPF_control_area3 = QAPF_control[QAPF_control['area'] ==3]
QAPF_control_area3.to_excel("../_CIPW/CIPW/AREA3/QAPF_control_points.xlsx", index=True)

In [27]:
QAPF_control_area3

,Y_UTM,X_UTM,ZoneNumber,ZoneLetter,area,Q,P,K,QAPF
3,1.544245e+06,7.110278e+06,53.0,V,3.0,50.716606,6.475010,37.375668,syeno granite
4,1.083775e+06,6.877413e+06,53.0,V,3.0,41.397182,23.234657,27.592905,monzo granite
12,1.257863e+06,6.881257e+06,53.0,V,3.0,46.418781,23.574272,26.292937,monzo granite
15,1.062527e+06,7.781132e+06,53.0,V,3.0,41.948841,25.957568,29.502100,monzo granite
18,7.552345e+05,7.733147e+06,53.0,V,3.0,38.498253,29.828145,28.683326,monzo granite
...,...,...,...,...,...,...,...,...,...
4645,1.094202e+06,7.789042e+06,53.0,V,3.0,0.000000,45.096558,24.944502,monzonite
4648,1.299501e+06,6.808221e+06,53.0,V,3.0,9.464496,56.033000,11.319685,quartz monzodiorite\nquartz monzogabbro
4652,1.766361e+06,7.168888e+06,53.0,V,3.0,2.939407,57.054470,12.755601,monzodiorite monzogabbro
4653,1.321263e+06,6.795969e+06,53.0,V,3.0,6.284857,60.868792,8.390470,quartz monzodiorite\nquartz monzogabbro
4658,1.177291e+06,6.811066e+06,53.0,V,3.0,0.000000,71.436466,10.147088,monzodiorite monzogabbro