In [1]:
import numpy as np
import pandas as pd

In [2]:
import prepostprocessing.cleaning as cleaning
import prepostprocessing.pre_processing as preproc
from qapf import qapf
from qapf import cipw

___

# CIPWFULL normalized data

## Convert to CIPWFULL format

**I used an arbitrary version of the mineralogical data, not sure if this is the correct one** -->is a good one

In [ ]:
mineralogy_original = pd.read_excel("../_CIPW/CIPW/AREA5/interpolated_data.xlsx", index_col=0)
# Only iterested in sample number and oxides
mineralogy = mineralogy_original[['SiO2', 'TiO2', 'Al2O3', 'Fe2O3','FeO', 'MnO', 'MgO', 'CaO', 'Na2O', 'K2O', 'P2O5', 'l.i.', 'oth']]
mineralogy.columns

In [ ]:
mineralogy = mineralogy.dropna()

In [ ]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [ ]:
# Remove 'l.i.'' and 'oth' columns and immediately normalize data
mineralogy = preproc.normalize(mineralogy.drop(["l.i.", "oth"], axis=1))

In [ ]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [ ]:
mineralogy.head()

In [ ]:
mineralogy1 = mineralogy.iloc[0:45000]
mineralogy2 = mineralogy.iloc[45000:90000]
mineralogy3 = mineralogy.iloc[90000:135000]
mineralogy4 = mineralogy.iloc[135000:180000]

def convert_to_CIPWFULL_format(df, path, dataset_name="Dataset", index_prefix=None, rock_type="P", 
                               rock_suite_column=None, normalization=False):
    """Converts a pandas DataFrame to a txt file compatible 
    as an input file for the CIPWFULL program by AL-Mishwat (2015)
    
    Parameters:
    -----------
    df : pd.DataFrame
        mineralogy data in the form of oxides
    path : str
        path to where to save resulting file
    dataset_name : str (optional)
        Name opf dataset to use in CIPWFULL
        defaults to 'Dataset'
    index_prefix : str (optional)
        Prefix to use before index
        defaults to None
    rock_type : str (optional)
        Rock type indicator:
            'P' for plutonic
            'V' for volcanic
        defaults to 'P'
    rock_suite_column : str (optional)
        Which column name to use a 'rock suite' in CIPWFULL
        The rock suite acts as a grouping variable
        defaults to None
    normalization : bool (optional)
        Write flag to file whether to let CIPWFULL 
        normalize the data before norm calculation
        defaults to False
        
    Returns:
    --------
    df_CIPW : pd.DataFrame
        altered mineralogy data according to CIPWFULL input format
    
    (file is written to disk)
    
    """
    
    # Get copy of original df so that it doesn't get altered
    df_CIPW = df.copy()
    
    # Add prefix to index if required
    if index_prefix:
        df_CIPW.index = f"{index_prefix}" + df_CIPW.index.astype(str)
        
    # Add additional columns to be moved to index
    df_CIPW["Type"] = "P"
    df_CIPW["Cancrinite"] = 0
    if rock_suite_column:
        df_CIPW["Rock suite"] = df_CIPW[rock_suite_column]
        df_CIPW.drop(rock_suite_column, axis=1)
    else:
        df_CIPW["Rock suite"] = 1 # This could be changed to a grouping variable such as geographic area, time
        
    # Move additional columns to index
    df_CIPW = df_CIPW.set_index(["Type", "Cancrinite", "Rock suite"], append=True)
    
    # Start writing file (file saving/closing is handled automatically)
    with open(path, 'w') as f:

        # Write a '1' before the dataset name if you want CIPWFULL 
        # to normalize the data before the calculation; else write space
        if normalization:
            f.write("1")
        else:
            f.write(" ")

        # Write dataset name
        f.write(f"{dataset_name}\n")

        # Write column names and index+data
        # The floating point number need to be formatted so as not 
        # to go over the 120 character line limit of CIPWFULL
        df_CIPW.to_csv(f, mode='w', sep=" ", line_terminator="\n", 
                       index_label=False, float_format="%2.5f")

        # Write '0' to indicate end of data entries
        f.write("0")

        # Write rock suite names if needed
        if rock_suite_column:
            f.write("\n")
            f.write(rock_suite_column.unique())
            f.write("\n")

In [11]:
cipw.convert_to_CIPWFULL_format(mineralogy1, "../_CIPW/CIPW/AREA5/area5_1.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy2, "../_CIPW/CIPW/AREA5/area5_2.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy3, "../_CIPW/CIPW/AREA5/area5_3.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy4, "../_CIPW/CIPW/AREA5/area5_4.txt", dataset_name="Vistelius (1995)")

_____

## Extract results from CIPWFULL results file

**I only selected quartz, plagioclase and alkali feldspar here as they are of interest to us for the QAPF classification**  
**Feel free to extract addiotnal minerals if they would be of any interest to you**

**Not sure what to do with albite in the final assignments as by the book it should be accounted for as an alkali feldspar and thus be included in the sum of plagioclase but then the resulting plagioclase contents seem quite low.   
This is something you might look into although the method used here seems to be correct according to te resulting QAPF diagram.**

--> indeed when reading the paper of Streckeisen (and other sources), albite should be accounted for as an alkali feldspar, also saw that the datapoints were generally located more to the right side (plagioclase), maybe an overestimation of plagioclase?

--> I changed the settings below so that albite belongs to the alkali feldspars, Think this figure should be more correct according to the papers, but the cotent of plagioclase is indeed quite low.

def extract_CIPW_results(path, columns_of_interest=['  QZ', '  OR', '  AB', '  AN'], 
                         print_columns=False):
    """Extract the results from CIPWFULL run
    
    Parameters:
    -----------
    path : str
        Path to results file
    columns_of_interest : list (optional)
        List of minerals to select in results file
        defaults to Q, A, P minerals
    print_columns : bool (optional)
        Print original df's column names
        defaults to False
        
    Returns:
    --------
    df_final : pd.DataFrame
        Minerals of interest in tabular format
    """
    
    df = pd.read_csv(path, sep="\t", index_col=0)
    
    if print_columns:
        print(df.colums)
    
    # Drop last row which states the column names again
    df = df.iloc[:-1, :]
    
    # Quary columns in which we're interested
    columns_of_interest = ['  QZ', '  OR', '  AB', '  AN']
    df_query = df.loc[:, columns_of_interest]
    
    # Convert values to floats
    df_query = df_query.astype(float)
    
    # Create new dataframe to hold final data
    df_final = pd.DataFrame()

    df_final["Q"] = df_query["  QZ"]
    df_final["P"] = df_query["  AB"] + df_query["  AN"]
    df_final["K"] = df_query["  OR"]
    
    return df_final

In [25]:
df_final = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA5/area5_1_results_excel.txt")

In [26]:
df_final.to_excel("../_CIPW/CIPW/AREA5/qapf.xlsx", index=True)

df_final = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA5/area5_1_results_excel.txt")
df_final2 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA5/area5_2_results_excel.txt")
df_final3 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA5/area5_3_results_excel.txt")
df_final4 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA5/area5_4_results_excel.txt")

In [24]:
df_final

                   Q          P          K
 SAMPLE
5249       27.208198  36.628164  27.326432
5250       27.167389  36.656974  27.315743
5251       27.126472  36.685809  27.305004
5252       27.085567  36.714535  27.294222
5253       27.044643  36.743102  27.283505
...              ...        ...        ...
 111751    30.801493  32.987579  27.919390
 111752    30.846561  32.971570  27.937194
 111753    30.890490  32.956188  27.954603
 111754    30.933058  32.941655  27.971809
 111755    30.974508  32.927816  27.988617

[45000 rows x 3 columns]

In [14]:
df_final = pd.concat([df_final1, df_final2, df_final3, df_final4])

In [15]:
df_final

                   Q          P          K
 SAMPLE
5249       27.208198  36.628164  27.326432
5250       27.167389  36.656974  27.315743
5251       27.126472  36.685809  27.305004
5252       27.085567  36.714535  27.294222
5253       27.044643  36.743102  27.283505
...              ...        ...        ...
 363036    29.914730  34.397391  28.094479
 363037    29.915543  34.396695  28.094040
 363038    29.916504  34.395953  28.093617
 363039    29.917698  34.395012  28.093254
 363040    29.919018  34.393884  28.093016

[177302 rows x 3 columns]

## QAPF classification

In [27]:
df_final["QAPF"] = qapf.check_QAPF_region(df_final)

In [28]:
df_final["QAPF"].unique()

array(['monzo granite'], dtype=object)

In [ ]:
import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter_ternary(df_final, a="Q", b="K", c="P", color="QAPF")

fig.write_image(f"../_FIGURES/geomap/qapf_ternary/area5_QAPF.pdf")
fig.show()

In [18]:
df_final.to_excel("../_CIPW/CIPW/AREA5/qapf.xlsx", index=True)

-------