In [72]:
import numpy as np
import pandas as pd

In [73]:
import prepostprocessing.cleaning as cleaning
import prepostprocessing.pre_processing as preproc
from qapf import qapf
from qapf import cipw

___

# CIPWFULL normalized data

## Convert to CIPWFULL format

**I used an arbitrary version of the mineralogical data, not sure if this is the correct one** -->is a good one

In [74]:
mineralogy_original = pd.read_excel("../_CIPW/CIPW/AREA3b/interpolated_data.xlsx", index_col=0)
# Only iterested in sample number and oxides
mineralogy = mineralogy_original[['SiO2', 'TiO2', 'Al2O3', 'Fe2O3','FeO', 'MnO', 'MgO', 'CaO', 'Na2O', 'K2O', 'oth']]
mineralogy.columns

Index(['SiO2', 'TiO2', 'Al2O3', 'Fe2O3', 'FeO', 'MnO', 'MgO', 'CaO', 'Na2O',
       'K2O', 'oth'],
      dtype='object')

In [75]:
mineralogy = mineralogy.dropna()

In [76]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [77]:
# Remove 'l.i.'' and 'oth' columns and immediately normalize data
mineralogy = preproc.normalize(mineralogy.drop(["oth"], axis=1))

In [78]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [79]:
mineralogy.head()

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
70704,61.892754,0.567829,16.886432,1.319497,3.844936,0.110648,3.275339,5.607538,2.843240,3.651787
70705,61.889843,0.567864,16.886735,1.319692,3.845526,0.110682,3.276179,5.608836,2.843191,3.651453
70706,61.887097,0.567896,16.887020,1.319876,3.846083,0.110715,3.276972,5.610060,2.843144,3.651138
70707,61.884539,0.567927,16.887285,1.320048,3.846601,0.110745,3.277711,5.611200,2.843100,3.650844
70708,61.882192,0.567955,16.887529,1.320206,3.847077,0.110773,3.278388,5.612246,2.843060,3.650575

In [80]:
mineralogy

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
70704,61.892754,0.567829,16.886432,1.319497,3.844936,0.110648,3.275339,5.607538,2.843240,3.651787
70705,61.889843,0.567864,16.886735,1.319692,3.845526,0.110682,3.276179,5.608836,2.843191,3.651453
70706,61.887097,0.567896,16.887020,1.319876,3.846083,0.110715,3.276972,5.610060,2.843144,3.651138
70707,61.884539,0.567927,16.887285,1.320048,3.846601,0.110745,3.277711,5.611200,2.843100,3.650844
70708,61.882192,0.567955,16.887529,1.320206,3.847077,0.110773,3.278388,5.612246,2.843060,3.650575
...,...,...,...,...,...,...,...,...,...,...
234326,63.811892,0.543454,16.647964,1.189257,3.452511,0.089058,2.739272,4.772073,2.872267,3.882253
234327,63.811248,0.543462,16.648058,1.189301,3.452644,0.089065,2.739445,4.772347,2.872259,3.882172
234328,63.810589,0.543471,16.648154,1.189346,3.452780,0.089072,2.739623,4.772627,2.872250,3.882089
234329,63.809913,0.543480,16.648252,1.189392,3.452919,0.089079,2.739805,4.772913,2.872242,3.882004
234330,63.809222,0.543490,16.648352,1.189440,3.453061,0.089087,2.739992,4.773207,2.872233,3.881917

In [81]:
mineralogy1 = mineralogy.iloc[0:45000]
mineralogy2 = mineralogy.iloc[45000:90000]
mineralogy3 = mineralogy.iloc[90000:135000]

def convert_to_CIPWFULL_format(df, path, dataset_name="Dataset", index_prefix=None, rock_type="P", 
                               rock_suite_column=None, normalization=False):
    """Converts a pandas DataFrame to a txt file compatible 
    as an input file for the CIPWFULL program by AL-Mishwat (2015)
    
    Parameters:
    -----------
    df : pd.DataFrame
        mineralogy data in the form of oxides
    path : str
        path to where to save resulting file
    dataset_name : str (optional)
        Name opf dataset to use in CIPWFULL
        defaults to 'Dataset'
    index_prefix : str (optional)
        Prefix to use before index
        defaults to None
    rock_type : str (optional)
        Rock type indicator:
            'P' for plutonic
            'V' for volcanic
        defaults to 'P'
    rock_suite_column : str (optional)
        Which column name to use a 'rock suite' in CIPWFULL
        The rock suite acts as a grouping variable
        defaults to None
    normalization : bool (optional)
        Write flag to file whether to let CIPWFULL 
        normalize the data before norm calculation
        defaults to False
        
    Returns:
    --------
    df_CIPW : pd.DataFrame
        altered mineralogy data according to CIPWFULL input format
    
    (file is written to disk)
    
    """
    
    # Get copy of original df so that it doesn't get altered
    df_CIPW = df.copy()
    
    # Add prefix to index if required
    if index_prefix:
        df_CIPW.index = f"{index_prefix}" + df_CIPW.index.astype(str)
        
    # Add additional columns to be moved to index
    df_CIPW["Type"] = "P"
    df_CIPW["Cancrinite"] = 0
    if rock_suite_column:
        df_CIPW["Rock suite"] = df_CIPW[rock_suite_column]
        df_CIPW.drop(rock_suite_column, axis=1)
    else:
        df_CIPW["Rock suite"] = 1 # This could be changed to a grouping variable such as geographic area, time
        
    # Move additional columns to index
    df_CIPW = df_CIPW.set_index(["Type", "Cancrinite", "Rock suite"], append=True)
    
    # Start writing file (file saving/closing is handled automatically)
    with open(path, 'w') as f:

        # Write a '1' before the dataset name if you want CIPWFULL 
        # to normalize the data before the calculation; else write space
        if normalization:
            f.write("1")
        else:
            f.write(" ")

        # Write dataset name
        f.write(f"{dataset_name}\n")

        # Write column names and index+data
        # The floating point number need to be formatted so as not 
        # to go over the 120 character line limit of CIPWFULL
        df_CIPW.to_csv(f, mode='w', sep=" ", line_terminator="\n", 
                       index_label=False, float_format="%2.5f")

        # Write '0' to indicate end of data entries
        f.write("0")

        # Write rock suite names if needed
        if rock_suite_column:
            f.write("\n")
            f.write(rock_suite_column.unique())
            f.write("\n")

In [82]:
cipw.convert_to_CIPWFULL_format(mineralogy1, "../_CIPW/CIPW/AREA3b/area3b_1.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy2, "../_CIPW/CIPW/AREA3b/area3b_2.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy3, "../_CIPW/CIPW/AREA3b/area3b_3.txt", dataset_name="Vistelius (1995)")

_____

## Extract results from CIPWFULL results file

**I only selected quartz, plagioclase and alkali feldspar here as they are of interest to us for the QAPF classification**  
**Feel free to extract addiotnal minerals if they would be of any interest to you**

**Not sure what to do with albite in the final assignments as by the book it should be accounted for as an alkali feldspar and thus be included in the sum of plagioclase but then the resulting plagioclase contents seem quite low.   
This is something you might look into although the method used here seems to be correct according to te resulting QAPF diagram.**

--> indeed when reading the paper of Streckeisen (and other sources), albite should be accounted for as an alkali feldspar, also saw that the datapoints were generally located more to the right side (plagioclase), maybe an overestimation of plagioclase?

--> I changed the settings below so that albite belongs to the alkali feldspars, Think this figure should be more correct according to the papers, but the cotent of plagioclase is indeed quite low.

def extract_CIPW_results(path, columns_of_interest=['  QZ', '  OR', '  AB', '  AN'], 
                         print_columns=False):
    """Extract the results from CIPWFULL run
    
    Parameters:
    -----------
    path : str
        Path to results file
    columns_of_interest : list (optional)
        List of minerals to select in results file
        defaults to Q, A, P minerals
    print_columns : bool (optional)
        Print original df's column names
        defaults to False
        
    Returns:
    --------
    df_final : pd.DataFrame
        Minerals of interest in tabular format
    """
    
    df = pd.read_csv(path, sep="\t", index_col=0)
    
    if print_columns:
        print(df.colums)
    
    # Drop last row which states the column names again
    df = df.iloc[:-1, :]
    
    # Quary columns in which we're interested
    columns_of_interest = ['  QZ', '  OR', '  AB', '  AN']
    df_query = df.loc[:, columns_of_interest]
    
    # Convert values to floats
    df_query = df_query.astype(float)
    
    # Create new dataframe to hold final data
    df_final = pd.DataFrame()

    df_final["Q"] = df_query["  QZ"]
    df_final["P"] = df_query["  AB"] + df_query["  AN"]
    df_final["K"] = df_query["  OR"]
    
    return df_final

df_final.to_excel("../_CIPW/CIPW/AREA5/qapf.xlsx", index=True)

In [83]:
df_final1 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3b/area3b_1_results_excel.txt")
df_final2 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3b/area3b_2_results_excel.txt")
df_final3 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3b/area3b_3_results_excel.txt")

In [84]:
df_final = pd.concat([df_final1, df_final2, df_final3])

In [85]:
df_final

                   Q          P          K
 SAMPLE
70704      13.235055  44.179463  23.984598
70705      13.230227  44.181123  23.982549
70706      13.225672  44.182674  23.980674
70707      13.221398  44.184170  23.978868
70708      13.217483  44.185501  23.977238
...              ...        ...        ...
 234326    16.392233  42.938939  25.370981
 234327    16.391178  42.939413  25.370499
 234328    16.390125  42.939862  25.370020
 234329    16.389036  42.940368  25.369479
 234330    16.387905  42.940849  25.368998

[92362 rows x 3 columns]

## QAPF classification

In [86]:
df_final["QAPF"] = qapf.check_QAPF_region(df_final)

In [87]:
df_final["QAPF"].unique()

array(['quartz monzonite', 'quartz monzodiorite\nquartz monzogabbro',
       'monzo granite'], dtype=object)

import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter_ternary(df_final, a="Q", b="K", c="P", color="QAPF")

fig.write_image(f"../_FIGURES/geomap/qapf_ternary/area6_QAPF.pdf")
fig.show()

In [88]:
df_final.to_excel("../_CIPW/CIPW/AREA3b/qapf.xlsx", index=True)

-------

In [89]:
df_final.iloc[:, 3].value_counts().to_excel("../_CIPW/CIPW/AREA3b/QAPF_counts.xlsx")

-----

In [90]:
QAPF_control = pd.read_excel("../_CIPW/CIPW/1_normalized.xlsx", index_col=0)
Area = pd.read_excel("../_INTERPOLATION/area3_b.xlsx", index_col=0, usecols = [0, 1, 2, 3, 4, 29])

In [91]:
QAPF_control = pd.concat([Area, QAPF_control], axis = 1)
QAPF_control = QAPF_control.dropna()
QAPF_control

,Y_UTM,X_UTM,ZoneNumber,ZoneLetter,area,Q,P,K,QAPF
2187,671151.209555,7.734892e+06,55.0,W,9.0,26.342266,32.302614,34.298288,monzo granite
3800,671687.565203,7.727472e+06,55.0,W,9.0,23.234255,39.186848,24.550674,monzo granite
3819,671415.394591,7.731167e+06,55.0,W,9.0,20.238474,43.591265,20.630025,granodiorite
4080,670508.338667,7.734853e+06,55.0,W,9.0,16.409475,43.528818,24.750370,quartz monzonite
4088,680683.051474,7.737473e+06,55.0,W,9.0,16.813600,38.598839,30.498563,quartz monzonite
4189,672065.958431,7.731232e+06,55.0,W,9.0,17.855997,40.693400,24.974282,monzo granite
4334,667785.476262,7.736481e+06,55.0,W,9.0,12.959965,44.129657,23.809950,quartz monzonite
4426,676998.398496,7.725990e+06,55.0,W,9.0,10.653355,40.967293,29.251499,quartz monzonite
4473,680092.785619,7.728082e+06,55.0,W,9.0,9.635997,44.692886,22.659857,quartz monzodiorite\nquartz monzogabbro
4512,676214.749308,7.727801e+06,55.0,W,9.0,7.866771,46.614313,21.609282,quartz monzodiorite\nquartz monzogabbro
4555,679251.275967,7.739220e+06,55.0,W,9.0,5.255060,47.709654,20.683849,quartz monzodiorite\nquartz monzogabbro
4616,672495.736501,7.716357e+06,55.0,W,9.0,5.453447,46.514819,21.752700,quartz monzodiorite\nquartz monzogabbro

In [92]:
QAPF_control.to_excel("../_CIPW/CIPW/AREA3b/QAPF_control_points.xlsx", index=True)