In [24]:
import numpy as np
import pandas as pd

In [25]:
import prepostprocessing.cleaning as cleaning
import prepostprocessing.pre_processing as preproc
from qapf import qapf
from qapf import cipw

___

# CIPWFULL normalized data

## Convert to CIPWFULL format

**I used an arbitrary version of the mineralogical data, not sure if this is the correct one** -->is a good one

In [26]:
mineralogy_original = pd.read_excel("../_CIPW/CIPW/AREA3a/interpolated_data.xlsx", index_col=0)
# Only iterested in sample number and oxides
mineralogy = mineralogy_original[['SiO2', 'TiO2', 'Al2O3', 'Fe2O3','FeO', 'MnO', 'MgO', 'CaO', 'Na2O', 'K2O', 'oth']]
mineralogy.columns

Index(['SiO2', 'TiO2', 'Al2O3', 'Fe2O3', 'FeO', 'MnO', 'MgO', 'CaO', 'Na2O',
       'K2O', 'oth'],
      dtype='object')

In [27]:
mineralogy = mineralogy.dropna()

In [28]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [29]:
# Remove 'l.i.'' and 'oth' columns and immediately normalize data
mineralogy = preproc.normalize(mineralogy.drop(["oth"], axis=1))

In [30]:
# Check for closed sum
assert all(np.isclose(mineralogy.sum(axis=1), 100.0))

In [31]:
mineralogy.head()

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
26935,72.456370,0.292183,14.583615,0.657742,1.408910,0.042525,0.626864,2.153932,3.373165,4.404694
26936,72.457581,0.292140,14.583131,0.657654,1.408651,0.042519,0.626681,2.153555,3.373216,4.404871
26937,72.458767,0.292098,14.582657,0.657568,1.408397,0.042513,0.626501,2.153186,3.373267,4.405046
26938,72.459928,0.292057,14.582192,0.657484,1.408148,0.042507,0.626325,2.152825,3.373316,4.405217
27719,72.452496,0.292319,14.585159,0.658038,1.409736,0.042545,0.627456,2.155132,3.373000,4.404120

In [32]:
mineralogy

,SiO2,TiO2,Al2O3,Fe2O3,FeO,MnO,MgO,CaO,Na2O,K2O
26935,72.456370,0.292183,14.583615,0.657742,1.408910,0.042525,0.626864,2.153932,3.373165,4.404694
26936,72.457581,0.292140,14.583131,0.657654,1.408651,0.042519,0.626681,2.153555,3.373216,4.404871
26937,72.458767,0.292098,14.582657,0.657568,1.408397,0.042513,0.626501,2.153186,3.373267,4.405046
26938,72.459928,0.292057,14.582192,0.657484,1.408148,0.042507,0.626325,2.152825,3.373316,4.405217
27719,72.452496,0.292319,14.585159,0.658038,1.409736,0.042545,0.627456,2.155132,3.373000,4.404120
...,...,...,...,...,...,...,...,...,...,...
331197,65.219820,0.544563,16.415014,1.172837,3.114096,0.079018,2.264693,4.570141,3.056038,3.563779
331198,65.218588,0.544606,16.415229,1.172794,3.114463,0.079026,2.264999,4.570635,3.055986,3.563675
331199,65.217342,0.544648,16.415446,1.172752,3.114834,0.079034,2.265309,4.571133,3.055934,3.563569
331983,65.221651,0.544501,16.414691,1.172911,3.113547,0.079006,2.264243,4.569404,3.056114,3.563934
331984,65.220484,0.544541,16.414895,1.172869,3.113895,0.079013,2.264532,4.569871,3.056065,3.563835

In [33]:
mineralogy1 = mineralogy.iloc[0:45000]
mineralogy2 = mineralogy.iloc[45000:90000]
mineralogy3 = mineralogy.iloc[90000:135000]

def convert_to_CIPWFULL_format(df, path, dataset_name="Dataset", index_prefix=None, rock_type="P", 
                               rock_suite_column=None, normalization=False):
    """Converts a pandas DataFrame to a txt file compatible 
    as an input file for the CIPWFULL program by AL-Mishwat (2015)
    
    Parameters:
    -----------
    df : pd.DataFrame
        mineralogy data in the form of oxides
    path : str
        path to where to save resulting file
    dataset_name : str (optional)
        Name opf dataset to use in CIPWFULL
        defaults to 'Dataset'
    index_prefix : str (optional)
        Prefix to use before index
        defaults to None
    rock_type : str (optional)
        Rock type indicator:
            'P' for plutonic
            'V' for volcanic
        defaults to 'P'
    rock_suite_column : str (optional)
        Which column name to use a 'rock suite' in CIPWFULL
        The rock suite acts as a grouping variable
        defaults to None
    normalization : bool (optional)
        Write flag to file whether to let CIPWFULL 
        normalize the data before norm calculation
        defaults to False
        
    Returns:
    --------
    df_CIPW : pd.DataFrame
        altered mineralogy data according to CIPWFULL input format
    
    (file is written to disk)
    
    """
    
    # Get copy of original df so that it doesn't get altered
    df_CIPW = df.copy()
    
    # Add prefix to index if required
    if index_prefix:
        df_CIPW.index = f"{index_prefix}" + df_CIPW.index.astype(str)
        
    # Add additional columns to be moved to index
    df_CIPW["Type"] = "P"
    df_CIPW["Cancrinite"] = 0
    if rock_suite_column:
        df_CIPW["Rock suite"] = df_CIPW[rock_suite_column]
        df_CIPW.drop(rock_suite_column, axis=1)
    else:
        df_CIPW["Rock suite"] = 1 # This could be changed to a grouping variable such as geographic area, time
        
    # Move additional columns to index
    df_CIPW = df_CIPW.set_index(["Type", "Cancrinite", "Rock suite"], append=True)
    
    # Start writing file (file saving/closing is handled automatically)
    with open(path, 'w') as f:

        # Write a '1' before the dataset name if you want CIPWFULL 
        # to normalize the data before the calculation; else write space
        if normalization:
            f.write("1")
        else:
            f.write(" ")

        # Write dataset name
        f.write(f"{dataset_name}\n")

        # Write column names and index+data
        # The floating point number need to be formatted so as not 
        # to go over the 120 character line limit of CIPWFULL
        df_CIPW.to_csv(f, mode='w', sep=" ", line_terminator="\n", 
                       index_label=False, float_format="%2.5f")

        # Write '0' to indicate end of data entries
        f.write("0")

        # Write rock suite names if needed
        if rock_suite_column:
            f.write("\n")
            f.write(rock_suite_column.unique())
            f.write("\n")

In [35]:
cipw.convert_to_CIPWFULL_format(mineralogy1, "../_CIPW/CIPW/AREA3a/area3a_1.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy2, "../_CIPW/CIPW/AREA3a/area3a_2.txt", dataset_name="Vistelius (1995)")
cipw.convert_to_CIPWFULL_format(mineralogy3, "../_CIPW/CIPW/AREA3a/area3a_3.txt", dataset_name="Vistelius (1995)")

_____

## Extract results from CIPWFULL results file

**I only selected quartz, plagioclase and alkali feldspar here as they are of interest to us for the QAPF classification**  
**Feel free to extract addiotnal minerals if they would be of any interest to you**

**Not sure what to do with albite in the final assignments as by the book it should be accounted for as an alkali feldspar and thus be included in the sum of plagioclase but then the resulting plagioclase contents seem quite low.   
This is something you might look into although the method used here seems to be correct according to te resulting QAPF diagram.**

--> indeed when reading the paper of Streckeisen (and other sources), albite should be accounted for as an alkali feldspar, also saw that the datapoints were generally located more to the right side (plagioclase), maybe an overestimation of plagioclase?

--> I changed the settings below so that albite belongs to the alkali feldspars, Think this figure should be more correct according to the papers, but the cotent of plagioclase is indeed quite low.

def extract_CIPW_results(path, columns_of_interest=['  QZ', '  OR', '  AB', '  AN'], 
                         print_columns=False):
    """Extract the results from CIPWFULL run
    
    Parameters:
    -----------
    path : str
        Path to results file
    columns_of_interest : list (optional)
        List of minerals to select in results file
        defaults to Q, A, P minerals
    print_columns : bool (optional)
        Print original df's column names
        defaults to False
        
    Returns:
    --------
    df_final : pd.DataFrame
        Minerals of interest in tabular format
    """
    
    df = pd.read_csv(path, sep="\t", index_col=0)
    
    if print_columns:
        print(df.colums)
    
    # Drop last row which states the column names again
    df = df.iloc[:-1, :]
    
    # Quary columns in which we're interested
    columns_of_interest = ['  QZ', '  OR', '  AB', '  AN']
    df_query = df.loc[:, columns_of_interest]
    
    # Convert values to floats
    df_query = df_query.astype(float)
    
    # Create new dataframe to hold final data
    df_final = pd.DataFrame()

    df_final["Q"] = df_query["  QZ"]
    df_final["P"] = df_query["  AB"] + df_query["  AN"]
    df_final["K"] = df_query["  OR"]
    
    return df_final

df_final.to_excel("../_CIPW/CIPW/AREA5/qapf.xlsx", index=True)

In [37]:
df_final1 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3a/area3a_1_results_excel.txt")
df_final2 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3a/area3a_2_results_excel.txt")
df_final3 = cipw.extract_CIPW_results("../_CIPW/CIPW/AREA3a/area3a_3_results_excel.txt")

In [39]:
df_final = pd.concat([df_final1, df_final2, df_final3])

In [40]:
df_final

                   Q          P          K
 SAMPLE
26935      29.678824  36.371857  28.881962
26936      29.680275  36.370402  28.883070
26937      29.681707  36.368947  28.884175
26938      29.683092  36.367545  28.885223
27719      29.674175  36.376515  28.878452
...              ...        ...        ...
 331197    19.272211  43.818407  23.644591
 331198    19.270172  43.819178  23.643898
 331199    19.268105  43.819881  23.643256
 331983    19.275330  43.817312  23.645535
 331984    19.273354  43.818025  23.644910

[119576 rows x 3 columns]

## QAPF classification

In [41]:
df_final["QAPF"] = qapf.check_QAPF_region(df_final)

In [42]:
df_final["QAPF"].unique()

array(['monzo granite', 'quartz monzodiorite\nquartz monzogabbro',
       'granodiorite'], dtype=object)

import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter_ternary(df_final, a="Q", b="K", c="P", color="QAPF")

fig.write_image(f"../_FIGURES/geomap/qapf_ternary/area6_QAPF.pdf")
fig.show()

In [43]:
df_final.to_excel("../_CIPW/CIPW/AREA3a/qapf.xlsx", index=True)

-------

In [44]:
df_final.iloc[:, 3].value_counts().to_excel("../_CIPW/CIPW/AREA3a/QAPF_counts.xlsx")

-----

In [45]:
QAPF_control = pd.read_excel("../_CIPW/CIPW/1_normalized.xlsx", index_col=0)
Area = pd.read_excel("../_INTERPOLATION/area3_a.xlsx", index_col=0, usecols = [0, 1, 2, 3, 4, 29])

In [46]:
QAPF_control = pd.concat([Area, QAPF_control], axis = 1)
QAPF_control = QAPF_control.dropna()
QAPF_control

,Y_UTM,X_UTM,ZoneNumber,ZoneLetter,area,Q,P,K,QAPF
15,598837.908412,7.715890e+06,55.0,W,8.0,41.948841,25.957568,29.502100,monzo granite
119,635439.679361,7.725109e+06,55.0,W,8.0,39.237976,26.709324,30.287969,monzo granite
400,592263.140650,7.717475e+06,55.0,W,8.0,36.942165,28.927268,30.441601,monzo granite
888,603288.106669,7.703025e+06,55.0,W,8.0,33.246529,29.794734,34.120800,monzo granite
1305,636193.302213,7.723289e+06,55.0,W,8.0,34.608631,29.864238,29.298348,monzo granite
1511,598296.065461,7.697260e+06,55.0,W,8.0,31.413958,28.903626,37.600814,monzo granite
1650,637385.481435,7.725232e+06,55.0,W,8.0,31.570049,38.081322,24.482859,monzo granite
1905,591461.767224,7.704428e+06,55.0,W,8.0,27.089623,36.907690,32.173481,monzo granite
1942,585316.079410,7.693012e+06,55.0,W,8.0,27.494003,45.085424,20.828580,granodiorite
2139,636637.553783,7.727073e+06,55.0,W,8.0,28.614622,38.556488,24.188587,monzo granite
2155,605000.897624,7.723571e+06,55.0,W,8.0,26.607340,42.010840,24.647493,monzo granite
2187,671151.209555,7.734892e+06,55.0,W,8.0,26.342266,32.302614,34.298288,monzo granite
2195,630910.941952,7.724867e+06,55.0,W,8.0,29.694607,34.023036,28.411905,monzo granite
2388,598113.077996,7.717725e+06,55.0,W,8.0,27.287092,42.859116,21.390420,granodiorite
2698,626476.828512,7.722765e+06,55.0,W,8.0,25.987541,36.927731,26.594993,monzo granite
2797,598643.249409,7.704708e+06,55.0,W,8.0,28.355343,34.637075,26.264939,monzo granite
2824,601019.329733,7.710388e+06,55.0,W,8.0,20.413109,39.226752,34.600535,monzo granite
2893,616089.907035,7.709210e+06,55.0,W,8.0,25.391628,58.990592,6.951416,granodiorite
2935,628426.282258,7.722888e+06,55.0,W,8.0,23.768242,39.443817,27.428537,monzo granite
2958,594793.177200,7.702675e+06,55.0,W,8.0,23.076021,34.211288,31.930900,monzo granite
2993,610620.400943,7.714543e+06,55.0,W,8.0,29.075031,34.896934,23.890715,monzo granite
3060,602645.092298,7.703032e+06,55.0,W,8.0,21.344051,32.064082,36.723833,monzo granite
3074,596831.789437,7.700907e+06,55.0,W,8.0,23.473204,37.835824,29.387618,monzo granite
3153,634593.040669,7.728824e+06,55.0,W,8.0,22.267176,40.891765,27.220331,monzo granite
3245,602095.160224,7.730905e+06,55.0,W,8.0,21.486336,38.873242,31.103953,monzo granite
3265,601432.052774,7.715981e+06,55.0,W,8.0,22.408779,44.536884,21.329388,granodiorite
3316,604845.597398,7.712411e+06,55.0,W,8.0,18.597176,49.506234,19.997776,granodiorite
3375,589062.870434,7.698779e+06,55.0,W,8.0,22.450434,39.963692,28.694159,monzo granite
3440,629123.219353,7.709877e+06,55.0,W,8.0,22.302748,42.509122,23.654801,monzo granite
3604,599371.422714,7.702873e+06,55.0,W,8.0,22.405134,36.462008,31.527237,monzo granite
3625,608118.968319,7.697678e+06,55.0,W,8.0,19.040827,42.030104,29.537153,monzo granite
3770,601842.366080,7.721576e+06,55.0,W,8.0,20.954214,43.617032,24.393073,monzo granite
3800,671687.565203,7.727472e+06,55.0,W,8.0,23.234255,39.186848,24.550674,monzo granite
3819,671415.394591,7.731167e+06,55.0,W,8.0,20.238474,43.591265,20.630025,granodiorite
3825,600629.026766,7.719680e+06,55.0,W,8.0,16.754169,36.020837,32.242415,quartz monzonite
3856,629721.317046,7.722954e+06,55.0,W,8.0,16.219378,41.812987,30.383493,quartz monzonite
3991,590964.084238,7.717425e+06,55.0,W,8.0,13.836427,38.473063,31.435805,quartz monzonite
4080,670508.338667,7.734853e+06,55.0,W,8.0,16.409475,43.528818,24.750370,quartz monzonite
4088,680683.051474,7.737473e+06,55.0,W,8.0,16.813600,38.598839,30.498563,quartz monzonite
4189,672065.958431,7.731232e+06,55.0,W,8.0,17.855997,40.693400,24.974282,monzo granite
4230,586635.515059,7.693081e+06,55.0,W,8.0,16.253214,51.071087,21.230779,quartz monzodiorite\nquartz monzogabbro
4242,599300.432473,7.704749e+06,55.0,W,8.0,16.671242,43.478036,26.305585,quartz monzonite
4334,667785.476262,7.736481e+06,55.0,W,8.0,12.959965,44.129657,23.809950,quartz monzonite
4348,597611.504062,7.713971e+06,55.0,W,8.0,19.336762,39.664944,19.607533,granodiorite
4411,579791.608577,7.720725e+06,55.0,W,8.0,6.105514,46.502259,33.464175,quartz monzonite
4426,676998.398496,7.725990e+06,55.0,W,8.0,10.653355,40.967293,29.251499,quartz monzonite
4473,680092.785619,7.728082e+06,55.0,W,8.0,9.635997,44.692886,22.659857,quartz monzodiorite\nquartz monzogabbro
4494,597691.866892,7.712128e+06,55.0,W,8.0,8.418608,48.622649,25.540742,quartz monzodiorite\nquartz monzogabbro
4512,676214.749308,7.727801e+06,55.0,W,8.0,7.866771,46.614313,21.609282,quartz monzodiorite\nquartz monzogabbro
4555,679251.275967,7.739220e+06,55.0,W,8.0,5.255060,47.709654,20.683849,quartz monzodiorite\nquartz monzogabbro
4590,600626.217441,7.719671e+06,55.0,W,8.0,10.419293,43.955656,14.962068,quartz monzodiorite\nquartz monzogabbro
4616,672495.736501,7.716357e+06,55.0,W,8.0,5.453447,46.514819,21.752700,quartz monzodiorite\nquartz monzogabbro
4645,631320.723769,7.717445e+06,55.0,W,8.0,0.000000,45.096558,24.944502,monzonite

In [47]:
QAPF_control.to_excel("../_CIPW/CIPW/AREA3a/QAPF_control_points.xlsx", index=True)